@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
	--tr: all 0.5s ease 0s;
	--ch1: #05478a;
	--ch2: #0070e0;
	--ch3: #0070e040;
	--cs1: #005e38;
	--cs2: #03a65a;
	--cs3: #03a65a40;
	--cw1: #c24914;
	--cw2: #fc8621;
	--cw3: #fc862140;
	--ce1: #851d41;
	--ce2: #db3056;
	--ce3: #db305640;
}



@property --bg-warning {
  syntax: '<percentage>';
  inherits: false;
  initial-value: -55%;
}


body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;
	background: radial-gradient(circle at 50% 100%, #1d1e23, #15141a);
	font-family: "Varela Round", sans-serif;
}



.toast {
	background: linear-gradient(90deg, #1f2333, #22232b);
    color: #f5f5f5;
    padding: 1rem 2rem 1rem 6rem;
    text-align: center;
    border-radius: 0.25rem;
    position: relative;
    font-weight: 300;
    margin: 1rem 0;
    text-align: left;
    max-width: 15rem;
    transition: var(--tr);
    opacity: 1;
    border: 0.15rem solid #fff2;
    box-shadow: inset 0 0 0.5rem 0 #1d1e26;
}

.toast:before {
	content: "";
    position: absolute;
    width: 6.5rem;
    height: 6.15rem;
    bottom: -0.15rem;
    left: -0.15rem;
    z-index: 0;
    border-radius: 0.35rem;
    background: radial-gradient(circle at 0% 50%, var(--clr), #fff0 5rem), radial-gradient(circle at -50% 50%, var(--bg), #fff0 5rem);
    opacity: 0.5;
}

.toast:after {
	content: "";
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    background: radial-gradient(circle at 50% 50%, var(--clr) 1.25rem, var(--brd) calc(1.25rem + 1px) 100%);
    top: 1.2rem;
    left: 1rem;
    border-radius: 3rem;
    padding-top: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
    box-sizing: border-box;
}

.toast h3 {
	font-size: 1.35rem;
	margin: 0;
	line-height: 1.35rem;
	font-weight: 300;
	position: relative;
}

.toast p {
	position: relative;
	font-size: 0.95rem;
	z-index: 1;
	margin: 0.25rem 0 0;
}

.close {
	position: absolute;
	width: 1.35rem;
	height: 1.35rem;
	text-align: center;
	right: 1rem;
	cursor: pointer;
	border-radius: 100%;
}

.close:after {
	position: absolute;
	font-family: 'Varela Round', san-serif;
	width: 100%;
	height: 100%;
	left: 0;
	font-size: 1.8rem;
	content: "+";
	transform: rotate(45deg);
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.close:hover {
	background: var(--clr);
    color: #22232c;
}




.toast-item.warning {
	animation-delay: 1s;
}


.toast.warning {
	--bg: var(--cw1);
	--clr: var(--cw2);
	--brd: var(--cw3);
}

.toast.warning:after,
.icon-warning:after {
	content: "!";
	font-weight: bold;
}





.toast a {
	color: #fff;
}

.toast a:hover {
    color: var(--clr);
}

.toast-item.closed {
	max-height: 0;
}




/*** ICONS ***/

.toast-icons {
	background: linear-gradient(90deg, #1f2333, #22232b);
	padding: 1rem 1rem 1.25rem 1rem;
	display: flex;
	justify-content: space-around;
	border-radius: 0.25rem;
	gap: 1.5rem;
	width: 100%;
	box-sizing: border-box;
	margin-top: 1rem;
	margin-bottom: 1rem;
	position: relative;
    border: 0.15rem solid #fff2;
    box-shadow: inset 0 0 0.5rem 0 #1d1e26;
}

.toast-icons:before {
    position: absolute;
    width: calc(100% + 0.3rem);
    height: calc(100% + 0.25rem);
  
    --bg-warning: 45%;
   
	
    background: 
 
		radial-gradient(circle at 62% var(--bg-warning), var(--cw1), #fff0 2rem), radial-gradient(circle at 86% var(--bg-error), var(--ce1), #fff0 2rem);
    content: "";
    bottom: -0.15rem;
    border-radius: 0.25rem;
    z-index: 0;
}


.toast-icons:has(label[for=t-warning]:hover):before {
    --bg-warning: 53%;
	--bsc: var(--cw2);
}

.toast-icon {
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	cursor: pointer;
	position: relative;
	background: radial-gradient(circle at 50% 50%, var(--clr) 1.25rem, var(--brd) calc(1.25rem + 1px) 100%);
	background: radial-gradient(circle at 50% 50%, var(--clr) 1.25rem, #fff0 calc(1.25rem + 1px) 100%), radial-gradient(circle at 50% 50%,  var(--brd) calc(1.25rem + 1px) 100%);
}



.toast-icon:after {
	font-size: 1.75rem;
}
.icon-success:after {
	font-size: 1.5rem;
    padding-bottom: 0.25rem;
}


.icon-warning,
.toast-item.warning {
	--clr: #fc8621;
	--brd: #fc862140;
}




#t-warning:checked ~ .toast-panel .toast-item.warning,

input[type=checkbox] {
	display: none;
}